body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#navbar {
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: #333333;
    transition: .4s;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    z-index: 1;
}

#navbar-nav {
    height: 0;
    width: 100%;
    display: inline-block;
    top: 0;
    right: 0;
    list-style: none;
}

#navbar-nav li {
    display: inline-block;
}

#navbar-nav a {
    text-decoration: none;
    color: #cccccc;
    transition: .4s;
    display: block;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 10px;
    font-size: 20px;
}

#navbar-nav a:hover {
    color: white;
    transition: .4s;
}

#navbar-nav li span {
    display: block;
    padding: 20px;
    font-size: 30px;
    transition: .4s;
    color: #cccccc;
}

#navbar-nav li span:hover {
    color: white;
    transition: .4s;
    cursor: pointer;
}

#navbar-nav li span i {
    padding: 0px;
    margin: 0px;
}

#main {
    position: absolute;
    padding: 100px;
}

.post {
    background-color: #cccccc;
    padding: 10px;
    margin: 10px;
    border: black;
}